@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Regular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Medium.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Bold.woff2) format("woff2");
    font-display: swap;
} 

@font-face {
    font-family: "Opensans";
    src: local("Opensans"), url(./assets/fonts/opensans/OpenSans-Regular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Opensans";
    font-weight: 500;
    src: local("Opensans"), url(./assets/fonts/opensans/OpenSans-Medium.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Opensans";
    font-weight: 700;
    src: local("Opensans"), url(./assets/fonts/opensans/OpenSans-Bold.woff2) format("woff2");
    font-display: swap;
} 

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/fonts/montserrat/Montserrat-Regular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: local("Montserrat"), url(./assets/fonts/montserrat/Montserrat-Medium.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: local("Montserrat"), url(./assets/fonts/montserrat/Montserrat-Bold.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Client";
    src: local("Client"), url(./assets/fonts/client/SantanderTextW05-Regular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Client";
    font-weight: 500;
    src: local("Client"), url(./assets/fonts/client/SantanderTextW05-Regular.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Client";
    font-weight: 700;
    src: local("Client"), url(./assets/fonts/client/SantanderTextW05-Bold.woff2) format("woff2");
    font-display: swap;
} 